<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alpha Tech Academy</title>
    <link rel="stylesheet" href="./../../static/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="./../../static/CSS/main.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <a href="./home.html" class="header-logo">
                        Alpha Tech Academy
                    </a>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-5">
                    <div class="header-nav">
                        <ul class="header-nav__list list-unstyled">
                            <li>
                                <a href="home">Home</a>
                            </li>
                            <li>
                                <a href="blog">Blog</a>
                            </li>
                            <li>
                                <a href="mentor">Mentor</a>
                            </li>
                            <li>
                                <a href="mentee">Mentee</a>
                            </li>
                            <li>
                                <a href="author">Author</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="canvas container-fluid">
        <div class="row align-items-center">
            <div class="background_title col-md-12">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div>
                                <img src= "../../static/img/title/alpha-logo.png" class="margin-logo-alphatech" />
                            </div>
                            <div>
                                <h1 class="experience_title">Alpha Tech Academy</h1>
                                <p class="margin-paragraph-alphatech">Alpha Tech Academy is a tech talent incubator that gives everyone (even non IT background) a chance to be a professional Tech Talent within 3 months. Contact Person: Email: academy@alphatech.id Mobile phone: 0877 9609 9530</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row padding-section-blog">
                <div>
                    <img src="../../static/img/author/author.jpg">
                </div>
                    <h3>Nama Author</h3>
                    <p><b>Please Write your Summary,</b> Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit Amet.</p>
                <div class="col-md-4">
                    <p>Alamat</p>
                    <p>Telephone</p>
                    <p>Education</p>
                    <p>Profession</p>
                    <p>Nationality</p>
                    <p>Company</p>
                    <p>Email</p>
                    <p>Address</p>
                </div>
                <div class="col-md-8">
                    <p>: Alamat Author</p>
                    <p>: Author's Telephone</p>
                    <p>: Author's Education</p>
                    <p>: Author's Profession</p>
                    <p>: Author's Nationality</p>
                    <p>: Author's Company</p>
                    <p>: Author's Email</p>
                    <p>: Author's Address</p>
                </div>
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.314233480313!2d112.60827644979209!3d-7.966441481577961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7882865ded0697%3A0xa77fa961a7c4e4b7!2sSepulsa%20Lodge%20Malang!5e0!3m2!1sen!2sid!4v1575988381713!5m2!1sen!2sid" width="500" height="260" frameborder="0" style="border:0;" allowfullscreen="" class="margin-maps"></iframe>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="background-footer-1 container-fluid"> 
            <div class="container align-items-center">
                <div class="footer-center row">
                    <p class="font-our-product">Our Product:</p>
                    <img src="../../static/img/footer/logo-grey-alphapay.png" class="margin-img-footer">
                    <img src="../../static/img/footer/logo-grey-sepulsa.png" class="margin-img-footer">
                    <img src="../../static/img/footer/logo-grey-alphabill.png" class="margin-img-footer">
                </div>
            </div>
        </div>
        <div class="background-footer-2 container-fluid"> 
            <div class="container align-items-center">
                <div class="footer-center row">
                    <p class="font-footer-2"><b>Contact Person</b>: Mobile phone: 0877 9609 9530 Email: <a href="#">academy@alphatech.id</a></p>
                </div>
            </div>
        </div>
    </footer>
</body>