{% extends 'alphatechblog/base.html' %}
    {% block content %}
        <div class="container-fluid">
            <div class="row padding-section-blog">
                {% for blog in blogs%}
                <div>
                    <img src="{{blog.img_blog}}">
                </div>
                <div class="col-md-5">
                    <span>{{blog.tanggal}} </span>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-3">
                    <span>{{blog.comment}}</span>
                </div>
                <div>
                    <h3>{{blog.judul_blog}}</h3>
                    <p>{{blog.paragraph_blog}}</p>
                    <p><a href="#">Baca Selengkapnya</a></p>
                </div>
                {% endfor %}
            </div>
        <div>
            <a class="btn btn-primary" href="blog/form" role="button">Post</a>
        </div>
    {% endblock %}
 