{% extends 'alphatechblog/base.html' %}
    {% block content %}
        <div class="container-fluid">
            <div class="margin-our-mentee">
                <h3>Our Mentor</h3>
            </div>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-3">
                    {% for mentor in mentors%}
                    <div>
                        <img src="{{mentor.gambar_mentor}}" class="gambar-mentor" >
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-7">
                    {% for mentor in mentors%}
                    <h3 class="nama-mentor">{{mentor.nama_mentor}}</h3>
                    <h5>{{mentor.experience}}</h5>
                    <p class="margin-testimoni-mentor">{{mentor.testimoni_mentor}}</p>
                    {% endfor %}
                </div>
            </div>
        {% endblock %}