{% extends 'alphatechblog/base.html' %}
    {% block content %}
        <div class="container-fluid">
            <div class="margin-our-mentee">
                <h3>Our Mentee</h3>
            </div>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-4">
                    {% for mentee in mentees%}
                    <div>
                        <img src="{{mentee.gambar_mentee}}" class="gambar-mentee" >
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-7">
                    {% for mentee in mentees%}
                    <h4>{{mentee.nama_mentee}}</h4>
                    <p class="margin-testimoni-mentee">{{mentee.testimoni_mentee}}</p>
                    {% endfor %}
                </div>
            </div>
    {% endblock %}
